<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{appname}"></title>
</head>
<body>
<h1>teacher page</h1>
<span th:text="${msg}"></span><br/>
<h1>You can see this because you have the permissions.</h1>

<div class="button-group" sec:authorize="isAnonymous()">
    <h2>You are anonymous</h2>
</div>

<div class="button-group" sec:authorize="!isAuthenticated()">
    <h2>you are not authenticated</h2>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
</div>
<div class="button-group" sec:authorize="isAuthenticated()">
    <h2>you are authenticated</h2>
    <a href="/logout">Logout</a>
</div>
</body>
</html>